// Fonts

$font-default: "Poppins-regular", sans-serif;
$font-for-header: "Gilroy" sans-serif;

// font-size

$font-size-12: 12px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-16: 16px;
$font-size-38: 38px;
$font-size-19: 19px;
$font-size-15: 15px;
$light: 300;
$normal: 400;
$bold: 800;
$font-size-dots: 40px;

// color
$color-white-header: #fcfcfc;
$color-white: #fff;
$color-dark-gray: #333333;
$color-black: #000;
$color-tranparent: transparent;
$color-gray: #f6f5f3;

// Animation

$transition-base: 0.3s ease;
$transition-dropDown: 1.3s all;

// Position
$position-center: translate(-50%, -50%);
